<!DOCTYPE html>
<html>

<body>
<table border=1>
<tr align="center">
<td>
<img src ="img.jpg" width="200" height="200"><br/>
Product ID:11 <br>
price Rs. 2000<br>
Product Detail:Cotton<br>
Size:Free<br>
stock:Available<br>
</td>
<td>
<img src ="img8.jpg" width="200" height="200"><br/>
Product ID:12 <br>
price Rs. 2400<br>
Product Detail:Slik<br>
Size:Free<br>
stock:Available<br>
</td>
<td>
<img src ="img2.jpg" width="200" height="200"><br/>
Product ID:13 <br>
price Rs. 2600<br>
Product Detail:Slik with Embroidery<br>
Size:Free<br>
stock:Available<br>
</td>
<td>
<img src ="img7.jpg" width="200" height="200"><br/>
Product ID:18 <br>
price Rs. 2100<br>
Product Detail:Cotton<br>
Size:Free<br>
stock:Available<br>
</td>
<td>
<img src ="img5.jpg" width="200" height="200"><br/>
Product ID:19 <br>
price Rs. 3800<br>
Product Detail:Jorjet with Emdroidery<br>
Size:Free<br>
stock:Available<br>
</td>
<td>
<img src ="img6.jpg" width="200" height="200"><br/>
Product ID:21 <br>
price Rs. 2500<br>
Product Detail:Jorjet<br>
Size:Free<br>
stock:Available<br>
</td>
</tr>
</table>
</body>
</html>
