<!DOCTYPE html>
<html>
<link rel ="stylesheet" href="image.css">

<body>
<h1> Register Form</h1>
<form action="" method="post">
 <input type="text" placeholder="Name"><br/><br/>
 <input type="text" placeholder="Username"><br/><br/>
Gender: <input type="radio" name="Gender">Male
         <input type="radio" name="Gender">Female<br/><br/>
 <input type="text" placeholder="Email"><br/><br/>
 <input type="text" placeholder ="Password"><br/><br/>
 <input type="text" placeholder ="Confirm Password"><br/><br/>
 <input type="text" placeholder ="Phonen Number"><br/><br/>
 <input type="button"  value="sign up">
</form>
</body>
</html>
